<template>
  <div>
    <label for="product"> Que proposez vous? :</label>
    <input id="product" type="text" name="product" v-model="annonceData.product"/>

    <label for="category"> Catégorie : </label>
    <select id="category"
            name="select"
            v-model="searchQueries.category">
        <option value=''>-</option>
        <option v-for="(category, categoryIndex) in listeCategories"
                :value="category.id"
                :key="categoryIndex">
          {{category.name}}
        </option>
    </select>

    <label for="subcategory"> Sous catégorie : </label>
    <select id="subcategory"
            name="select"
            v-model="searchQueries.subcategory">
        <option value=''>-</option>
        <option v-for="(subcategory, subcategoryIndex) in listesubcategorys"
                :value="subcategory.id"
                :key="subcategoryIndex">
          {{subcategory.name}}
        </option>
    </select>
    <label for="status"> Vente ou troc? :</label>
    <input id="status" type="text" name="status" v-model="annonceData.status"/>

    <label for="localisation"> Où? :</label>
    <input id="localisation" type="text" name="localisation" v-model="annonceData.localisation"/>

    <label for="price"> Vente ou troc? :</label>
    <input id="price" type="text" name="price" v-model="annonceData.price"/>

    <label for="description"> Vente ou troc? :</label>
    <input id="description" type="text" name="description" v-model="annonceData.description"/>

  </div>
</template>
<script>
export default {
  name: 'AjoutAnnonce',

  data: function () {
    return {
      annonceData: {
        status: '',
        localisation: '',
        price: 0,
        description: '',
        quantity: '',
        product: ''
      }
    }
  },
  methods: {
    async getQueries () {
      const categories = await fetch('http://localhost:8000/map/category/')
      this.listeCategories = await categories.json()

      const subcategories = await fetch('http://localhost:8000/map/subcategory/')
      this.listesubcategorys = await subcategories.json()
    }
  },
  created () {
    this.getQueries()
  }

}

</script>
