<template>
  <div class="home">
    <div>
      <Recherche @filterChange="onChangeChild"/>
      <br>
      <div class="map">
        <DynamicMap @clickShowDetail="onClickDetail"/>
      </div>

    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <Annonces :annonces="listeAnnonces" @clickShowDetail="onClickDetail"/>
        </div>
        <div class="col-lg-6">
          <AnnonceDetail :annonce="annonceDetail"/>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import Recherche from '@/components/Recherche.vue'
import Annonces from '@/components/Annonces.vue'
import AnnonceDetail from '@/components/AnnonceDetail.vue'
import DynamicMap from '@/components/DynamicMap.vue'

export default {
  name: 'Home',

  components: {
    Annonces,
    Recherche,
    DynamicMap,
    AnnonceDetail
  },

  data () {
    return {
      listeAnnonces: [],
      annonceDetail: {}
    }
  },

  methods: {
    onChangeChild (eventData) {
      this.listeAnnonces = eventData
    },
    onClickDetail (annonceId) {
      this.annonceDetail = this.listeAnnonces[annonceId]
    }
  }
}
</script>

<style>

.home {
  background: #f6eec9;
}

.map {
  position: relative;
  width: 1500px;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.dynamic-map {
  width: 100%
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

</style>
