body {
    background-color: #FFE8C2;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

h1 {
    color: #61371b;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.leaflet-container {
    height: 1000px;
}

.card {
    background-color: #F0A868;
}

.card-product {
    background-color: #ffc28c;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

img {
    width: 50%
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #F0A868;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: flex;
}

.flex-item {
    padding: 5px;
    width: 100px;
    height: 50px;
    margin: 10px;
    line-height: 50px;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.item {
    margin-right: 500px;
    margin-left: 50px;
    padding: 10px;
    color: #61371b;
    font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;
    line-height: 50px;
}

.navlink {
    color: black;
    text-decoration: none;
}

.navlink:hover {
    color: #6A8D73;
}