<template>
  <div class="container">

     <div class="row">
      <div class="col-md-10">
        <figure
          class="card card-product"
          v-for="(annonce, index) in annonces"
          :key="annonce.id"
          @click="onClickShowDetail(index)"
        >
          <div class="img-wrap"><img src="https://thumbs.dreamstime.com/b/corbeille-de-fruits-59780737.jpg"></div>
          <figcaption class="info-wrap">
              <h4 class="title">{{annonce.product}}</h4>
              <p class="desc">Some small description goes here</p>
              <div class="rating-wrap">
                <div class="label-rating">{{annonce.localisation}}</div>
                <div class="label-rating"> 17 orders </div>
              </div> <!-- rating-wrap.// -->
          </figcaption>
          <div class="bottom-wrap">
            <div class="price-wrap h5">
              <span class="price-new">${{annonce.price}}</span>
            </div> <!-- price-wrap.// -->
          </div> <!-- bottom-wrap.// -->
        </figure>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Annonces',

  props: {
    annonces: Array
  },

  methods: {
    onClickShowDetail (idAnnonce) {
      this.$emit('clickShowDetail', idAnnonce)
    }
  }
}
</script>

<style>

</style>
