<template>

<div class="containerDetail">
      <div v-if="annonce.product" class="col-md-12">
        <figure>
          <div class="img-wrap"><img src="https://thumbs.dreamstime.com/b/corbeille-de-fruits-59780737.jpg"></div>
           <p>{{annonce.status}}</p>
          <figcaption class="info-wrap">
              <h4 class="title">{{annonce.product}}</h4>
              <p class="desc">{{annonce.description}}</p>
              <div class="rating-wrap">
                <div class="label-rating">{{annonce.localisation}}</div>
                <div class="label-rating">{{annonce.category}} </div>
                <div class="label-rating">{{annonce.quantity}}</div>
                <div class="label-rating"> 17 orders </div>

              </div> <!-- rating-wrap.// -->
          </figcaption>
          <div class="bottom-wrap">
            <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
            <div class="price-wrap h5">
              <span class="price-new">${{annonce.price}}</span>
            </div> <!-- price-wrap.// -->
          </div> <!-- bottom-wrap.// -->
        </figure>
      </div>

  </div>
</template>

<script>
export default {
  name: 'AnnonceDetail',

  props: {
    annonce: {}
  }
}
</script>

<style>
.containerDetail {
  border: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
  background-color: white;
}
.containerDetail .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.containerDetail .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.containerDetail .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.containerDetail .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.containerDetail .price-old {
    color: #999;
}
img {
  width: 50%
}
</style>
