<template>
  <div class="dynamic-map">
  <l-map
    :center="center"
    :zoom="zoom"
    class="dynamic-map"
    ref="dynamic-map"
    @update:zoom="zoomUpdated"
    @update:center="centerUpdated"
    @click="getListeIcones"
  >
    <l-tile-layer
      :url="url"
    >
    </l-tile-layer>
        <icone-annonce
      v-for="marker in markers"
      :key="marker.id"
      :marker="marker"
      @triggerMap="showDetail(marker.id)"
    >
        </icone-annonce>
    </l-map>
  </div>
</template>

<script>
import { LMap, LTileLayer } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'
import IconeAnnonce from './IconeAnnonce.vue'

export default {
  components: {
    LMap,
    LTileLayer,
    IconeAnnonce
  },
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      center: [43.604652, 1.444209],
      zoom: 14,
      markers: [
        // { id: 1, imageUrl: 'https://img.icons8.com/emoji/48/000000/carrot-emoji.png', coordinates: [43.614652, 1.444209] },
        // { id: 2, imageUrl: 'https://img.icons8.com/emoji/48/000000/green-apple.png', coordinates: [43.604652, 1.454209] }
      ]
    }
  },
  methods: {

    async getListeIcones () {
      // console.log('la fonction se lance', this.markers)
      const response = await fetch('http://localhost:8000/map/icone/')
      this.markers = await response.json()
      this.markers.map(icone => {
        const tabi = icone.coordinates.split(',')
        icone.coordinates = [tabi[0], tabi[1]]
        icone.id = icone.annonce_id - 1
      })
      console.log('la fonction se lance', this.markers)
      this.$emit('listiconesok', this.markers)
    },

    zoomUpdated (zoom) {
      this.zoom = zoom
      console.log(this.markers)
    },
    centerUpdated (center) {
      this.center = center
    },
    showDetail (idAnnonce) {
      this.$emit('clickShowDetail', idAnnonce)
    }
  },
  created () {
    console.log('mountedok')
    this.getListeIcones()
  }
}
</script>

<style>
 .dynamic-map {
   position: absolute;
   width: 80%;
   height: 80%;
   overflow :hidden
 }
</style>
