<template>
  <l-marker
    :key="marker.id"
    :lat-lng="marker.coordinates"
    @click="showDetail">
    <l-icon ref="icon"  @click="showDetail">
      <img class="annonce-icon" :src="marker.imageUrl"/>
    </l-icon>
  </l-marker>
</template>

<script>
import { LIcon, LMarker } from 'vue2-leaflet'
export default {
  components: { LIcon, LMarker },
  props: {
    marker: {
      type: Object,
      required: true
    }
  },
  methods: {
    showDetail () {
      this.$emit('triggerMap', this.marker.id)
    }
  }
}

</script>

<style>
  .annonce-icon {
    height: 50px;
    width: auto;
  }
</style>
