<template>
  <section class="search-sec">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <input  type="text"
                            id="keyWord"
                            class="form-control search-"
                            placeholder="Search Bar"
                            v-model="searchQueries.keyword">
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control search-slt"
                            id="category"
                            name="select"
                            v-model="searchQueries.category">
                      <option value=''>-</option>
                      <option v-for="(category, categoryIndex) in listeCategories"
                              :value="category.id"
                              :key="categoryIndex">
                        {{category.name}}
                      </option>
                    </select>
                </div>
                <slot> </slot>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control search-slt"
                            id="subcategory"
                            name="select"
                            v-model="searchQueries.subcategory">
                      <option value=''>-</option>
                      <option v-for="(subcategory, subcategoryIndex) in listesubcategorys"
                              :value="subcategory.id"
                              :key="subcategoryIndex">
                        {{subcategory.name}}
                      </option>
                    </select>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <button type="button"
                            class="btn btn-danger wrn-btn"
                            @click="onClickButton"
                            value="Effectuer la recherche" >Search</button>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Recherche',

  data: function () {
    return {
      listeAnnonces: [],
      filteredAnnonces: [],

      listesubcategorys: [{
        name: 'name',
        filtered: 'true'
      }],
      listeCategories: [],

      searchQueries: {
        category: '',
        subcategory: '',
        keyword: ''
      }
    }
  },

  methods: {

    async getfilteredAnnonces () {
      let url = 'http://localhost:8000/map/annonce/?'
      if (this.searchQueries.category) {
        url += `product__subcategory__category=${this.searchQueries.category}`
      }
      if (this.searchQueries.subcategory) {
        if (this.searchQueries.category) {
          url += '&'
        }
        url += `product__subcategory=${this.searchQueries.subcategory}`
      }
      if (this.searchQueries.keyword) {
        if (this.searchQueries.category || this.searchQueries.subcategory) {
          url += '&'
        }
        url += `search=${this.searchQueries.keyword}`
      }
      console.log(url)
      const response = await fetch(url)
      this.filteredAnnonces = await response.json()
    },

    async getListeAnnonces () {
      const response = await fetch('http://localhost:8000/map/annonce/')
      this.listeAnnonces = await response.json()
      this.$emit('filterChange', this.listeAnnonces)
    },

    async getQueries () {
      const categories = await fetch('http://localhost:8000/map/category/')
      this.listeCategories = await categories.json()

      const subcategories = await fetch('http://localhost:8000/map/subcategory/')
      this.listesubcategorys = await subcategories.json()
    },

    async onClickButton () {
      await this.getfilteredAnnonces()
      this.$emit('filterChange', this.filteredAnnonces)
    }
  },

  created () {
    this.getListeAnnonces()
    this.getQueries()
  }
}
</script>

<style>
/*search box css start here*/
.search-sec{
    padding: 2rem;
    position: static;
    background: rgba(26, 70, 104, 0.51);
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
</style>
